<%- include('head-files.ejs') %>
</head>
<%- include('header.ejs', {user: user, loggedIn: loggedIn, page: page}) %>
    <div class="grid grid-rows-2 gap-12 py-12 mx-96 text-center text-red-700 text-xl font-semibold">
        <div class="grid grid-cols-3 gap-12">
            <div>
                <img src="/images/categories.png" class="border-4 border-red-700" alt="categories">
                <p>DRINKS</p>
            </div>
            <div>
                <img src="/images/categories.png" class="border-4 border-red-700" alt="categories">
                <p>SNACKS</p>
            </div>
            <div>
                <img src="/images/categories.png" class="border-4 border-red-700" alt="categories">
                <p>FRUITS</p>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-12">
            <div>
                <img src="/images/categories.png" class="border-4 border-red-700" alt="categories">
                <p>LACES</p>
            </div>
            <div>
                <img src="/images/categories.png" class="border-4 border-red-700" alt="categories">
                <p>UNIFORM</p>
            </div>
            <div>
                <img src="/images/categories.png" class="border-4 border-red-700" alt="categories">
                <p>SUPPLIES</p>
            </div>
        </div>
    </div>
    
</body>
</html>