<% let navs = {Home: "/", Categories: "/categories", Orders: "/orders", Cart: "/cart"}; %>
<body>
    <div class="grid grid-cols-7">
        <div class="col-start-3 col-span-3">
            <img src="/images/mainLogo.png" alt="Logo">
        </div>
    </div>
    <div class="bg-red-800 h-16 grid grid-cols-5 items-center w-full">
        <div class="col-span-3 col-start-2 justify-self-center items-center">
<% for (let nav in navs) { %>
            <a href=<%=navs[nav]%> class="px-4 py-2 <%= page == nav ? 'bg-white text-red-800 rounded-md' : 'text-white'%>"><%=nav%></a>
<% } %> </div>
        <div class="px-8 items-center">
<% if (loggedIn) {%> 
            <div class="flex">
                <div>
                    <div class="dropdown relative">
                        <a class="dropdown-toggle py-2.5 bg-transparent text-white font-medium rounded focus:outline-none focus:ring-0 flex items-center" href="#" type="button" id="account-dropdown" data-bs-toggle="dropdown" aria-expanded="false">Hi, <%=user.fn%> <i class="fa-solid fa-caret-down pl-4"></i></a>
                        <ul class="dropdown-menu min-w-full absolute bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none" aria-labelledby="account-dropdown">
                            <li>
                                <a class="dropdown-item py-2 px-4 font-normal block w-full bg-transparent text-gray-700 hover:bg-gray-100" href="#">Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2 px-4 font-normal block w-full bg-transparent text-gray-700 hover:bg-gray-100" href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
<% } else { %>
            <a href="/login" class="text-white"> Login/Register <i class="fa-solid fa-right-to-bracket px-1"></i> </a>
<% } %>
        </div>
    </div>