<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BPSU</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/colors.css">
    <script src="./js/bootstrap.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/accounts.js"></script>
</head>
<body>
    <div class="container-fluid px-0 py-3">
        <div class="row justify-content-center mx-auto">
            <div class="col-4">
            <img src="/images/MainLogo.png" class="img-fluid" alt="Logo">
            </div>
        </div>
    </div>
    <div class="container-fluid text-center row justify-content-center mx-0 px-0 pb-5">
        <div class="col-5 border border-red border-4 px-5 pb-5">
            <h1 class="text-red fw-bold my-4">LOGIN</h1>
            <form action="/submit" method="post">
                <div class="form-floating my-2 d-none" id="first-name-div">
                    <input type="text" class="form-control form-control-sm border-red box-shadow-red" id="first-name" name="first-name" placeholder="First Name">
                    <label for="first-name">First Name</label>
                </div>
                <div class="form-floating my-2 d-none" id="last-name-div">
                    <input type="text" class="form-control form-control-sm border-red box-shadow-red" id="last-name" name="last-name" placeholder="Last Name">
                    <label for="last-name">Last Name</label>
                </div>
                <div class="form-floating my-2">
                    <input type="email" class="form-control form-control-sm border-red box-shadow-red" id="email" name="email" placeholder="Email Address">
                    <label for="email">Email Address</label>
                </div>
                <div class="form-floating my-2">
                    <input type="password" class="form-control form-control-sm border-red box-shadow-red" id="password" name="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating my-2 d-none" id="confirm-div">
                    <input type="password" class="form-control form-control-sm border-red box-shadow-red" id="confirm" name="confirm" placeholder="Confirm Password">
                    <label for="confirm">Confirm Password</label>
                </div>
                <div class="row justify-content-around mt-5">
                    <a class="btn bg-white border border-red border-1 text-red col-3" href="/" role="button">BACK</a>
                    <input class="btn bg-red text-white col-3" type="submit" value="LOG IN" name="submit-form" id="submit-form">
                    <a class="btn bg-red-100 text-red col-3" id="switch-form">SIGN UP</a>
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>