<%- include('header.ejs') %>

<div class="container-fluid">
    <div class="row mx-auto justify-content-center py-3">
        <div class="col-3">
            <a href="/categories" class="btn text-red fs-5"><i class="fa-solid fa-arrow-left"></i> Back</a>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <img src="/images/item.png" class="img-fluid border border-red border-5" alt="item">
                </div>
                <div class="col-8">
                    <div class="row text-red fs-1">COCA-COLA ORIGINAL TASTE (180ml)</div>
                    <div class="row text-red fs-5">&#8369;23</div>
                    <div class="row">Available: 30 items</div>
                </div>
            </div>
            <div class="row justify-content-evenly text-center text-red py-3 fs-6">
                <div class="col offset-3">
                    <div class="row align-items-end mt-3">
                        <div class="col-6">
                            <span class="fst-italic fw-semibold">QUANTITY: </span>
                            <input type="number" class="border border-red border-2 px-2 w-50"/> 
                        </div><div class="col-6">
                            <span class="fst-italic">TOTAL PRICE: <span class="fw-semibold fs-3">&#8369;70</span></span>
                        </div>
                    </div>
                    <div class="row justify-content-evenly mt-3">
                        <div class="d-grid mx-auto col-6">
                            <button class="btn bg-white border-2 border-red border rounded text-red">ADD TO CART</button>
                        </div>
                        <div class="d-grid mx-auto col-6">
                            <button class="btn bg-red border-2 border-red border rounded text-white">BUY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col offset-2">
                    <div class="row text-red fw-semibold fs-4">
                        <p class="py-0 mt-3 mb-0">RATINGS</p>
                        <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></span>
                    </div>
                    <div class="row fst-italic text-gray fs-5">
                        <p class="py-0 mt-3 mb-0 fst-normal text-red fw-semibold fs-4">REVIEWS</p>
                        <div class="border border-black border-2 text-center mx-3 my-2">COMMENTS</div>
                        <div class="border border-black border-2 text-center mx-3 my-2">COMMENTS</div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-3"></div>
</div>

</body>
</html>