<%- include('header.ejs') %>

<div class="container-fluid">
    <div class="row mx-auto justify-content-start text-red fs-4 fw-bold">
        <div class="col-2">
            <div class="row justify-content-start">
                <a href="/" class="btn text-start text-red fs-5 fw-bold"><i class="fa-solid fa-arrow-left"></i> BACK</a>
            </div>
            <div class="row justify-content-end fs-4 text-red fst-italic">
                Products
            </div>
        </div>
        <div class="col-8 mt-4 pt-2">
            <div class="row align-items-start my-3">
                <div class="col-2 text-center"><img src="/images/item.png" alt="item" class="img-fluid border border-2 border-red w-75"></div>
                <div class="col-7 text-red fw-semibold">
                    <p class="my-1 fs-5">Product Name</p>
                    <p class="my-1 fs-6">Quantity</p>
                    <p class="my-1 fs-6">Price</p>
                </div>
            </div>
            <div class="row align-items-start my-3">
                <div class="col-2 text-center"><img src="/images/item.png" alt="item" class="img-fluid border border-2 border-red w-75"></div>
                <div class="col-7 text-red fw-semibold">
                    <p class="my-1 fs-5">Product Name</p>
                    <p class="my-1 fs-6">Quantity</p>
                    <p class="my-1 fs-6">Price</p>
                </div>
            </div>
            <div class="row align-items-start my-3">
                <div class="col-2 text-center"><img src="/images/item.png" alt="item" class="img-fluid border border-2 border-red w-75"></div>
                <div class="col-7 text-red fw-semibold">
                    <p class="my-1 fs-5">Product Name</p>
                    <p class="my-1 fs-6">Quantity</p>
                    <p class="my-1 fs-6">Price</p>
                </div>
            </div>
        </div>
        <div class="col-2 align-self-end">
            <div class="row my-2 px-3"><a href="#" class="btn border-red bg-white text-red">ADD PRODUCT</a></div>
            <div class="row my-2 px-3"><a href="#" class="btn border-red bg-white text-red">DELETE PRODUCT</a></div>
            <div class="row my-2 px-3"><a href="#" class="btn border-red bg-white text-red">MARK AS SOLD OUT</a></div>
        </div>
    </div>
</div>

</body>
</html>