<%- include('header.ejs') %>

<div class="container-fluid">
  <div class="row py-3 align-items-start">
    <div class="col-2">
        <a href="/categories" class="btn text-red fs-5"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </div>
    <div class="col-10">
      <div class="row display-4 text-red fw-bold justify-content-center">COMPLETED ORDERS</div>
      
      <div class="row py-4">
        <div class="col-2 text-center"><img src="/images/item.png" alt="item" class="img-fluid border border-2 border-red w-75"></div>
          <div class="col-7 text-red fw-semibold">
            <p class="my-1 fs-4">Product Name</p>
            <p class="my-1 fs-6">Quantity</p>
            <p class="my-1 fs-5">Price</p>
          </div>
          <div class="col-3 text-center text-red fs-5 fw-semibold align-self-center">
            <p class="my-1">Date Purchased:</p>
            <p class="my-1">08-12-22</p>
        </div>
      </div>

      <div class="row py-4">
        <div class="col-2 text-center"><img src="/images/item.png" alt="item" class="img-fluid border border-2 border-red w-75"></div>
          <div class="col-7 text-red fw-semibold">
            <p class="my-1 fs-4">Product Name</p>
            <p class="my-1 fs-6">Quantity</p>
            <p class="my-1 fs-5">Price</p>
          </div>
          <div class="col-3 text-center text-red fs-5 fw-semibold align-self-center">
            <p class="my-1">Date Purchased:</p>
            <p class="my-1">06-06-22</p>
        </div>
      </div>

      <div class="row py-4">
        <div class="col-2 text-center"><img src="/images/item.png" alt="item" class="img-fluid border border-2 border-red w-75"></div>
          <div class="col-7 text-red fw-semibold">
            <p class="my-1 fs-4">Product Name</p>
            <p class="my-1 fs-6">Quantity</p>
            <p class="my-1 fs-5">Price</p>
          </div>
          <div class="col-3 text-center text-red fs-5 fw-semibold align-self-center">
            <p class="my-1">Date Purchased:</p>
            <p class="my-1">03-19-22</p>
        </div>
      </div>

    </div>
  </div>  
</div>

</body>
</html>